<div class="marginBottom">
  <div class="row">
    <div class="col s6 input-field">
      <p>Supplier</p>
      <app-dropdown-color (color)="onSelectSupplier($event)" 
      [dropdownData]="prestige.dropdownSupplier"></app-dropdown-color>
    </div>
  </div>
  <div class="row">
      <div class="progress" *ngIf=" prestige.isShowProgressSupplier == true">
          <div class="indeterminate"></div>
      </div>
      <div class="col s12" *ngIf="prestige.poList.length == 0 ">
          <p>No PO for this supplier</p>
      </div>
    <app-po-list [poList]="prestige.poList"></app-po-list>
  </div>
  <div class="row">
    <div class="col s6">
      <h4 *ngIf="prestige.poList.length != 0 && prestige.poList.balance !=0">
        <a class="btn-large red pulse">BALANCE: <span>{{prestige.poList.balance | currency:'&#x20B1;'}}</span></a>
      </h4>
    </div>
    <div class="col s6 right-align">
      <h4 *ngIf="prestige.poList.length != 0">
        <a class="btn-large teal">Purchase: <span>{{prestige.supplierTotalPurchase | currency:'&#x20B1;'}}</span></a>
      </h4>
    </div>
  </div>
  <div class="row" *ngIf="prestige.poList.length != 0">
    <div class="col s12 right-align">
      <a class="btn waves-effect" (click)="onClickPrint(prestige.poList)">print <i class="material-icons right">print</i></a>
    </div>
  </div>
  
</div>
<app-modal-pay [pay]="prestige.pay" ></app-modal-pay>
<app-print-po [printPO]="prestige.poList"></app-print-po>