<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-content">
      <h4>Add PO</h4>
      <app-radio-material-type (typeEmitter)=onClickRadioType($event)></app-radio-material-type>
      <div class="row">
        <div class="col s12 right-align">
          <div class="switch">
            <label (click)="onClickSwitch($event)">
              From Supplier
              <input type="checkbox" [(ngModel)]="switch">
              <span class="lever"></span>
              From Stock
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6" [ngClass]="switch ? 'hide': ''">
          <app-dropdown-color (color)="onSelectSupplier($event)" 
          [dropdownData]=" 
          type == 'Aluminum' ? prestige.dropdownSupplier : 
          type == 'Glass' ? prestige.dropdownSupplierGlass : prestige.dropdownSupplierAccessories
          "></app-dropdown-color>
        </div>
        <div class="col s6">
          <app-dropdown-color (color)="onSelectSection($event)" 
          [dropdownData]="type == 'Aluminum' ? prestige.dropdownSection : 
          type == 'Glass' ? prestige.dropdownSectionGlass : prestige.dropdownSectionAccesories"></app-dropdown-color>
        </div>
        <!-- dropdownGlassType -->
        <div class="col s6 " [ngClass]="!this.switch ? 'offset-s6' : ''" *ngIf="type != 'Accessories'">
            <div class="col s4" *ngFor="let c of type == 'Aluminum' ?  prestige.dropdownColor.arr : 
                                                type == 'Glass' ? prestige.dropdownGlassType.arr : prestige.dropdownColor.arr; 
                                                let i = index">
              <p (click)="onClickRadioButton(c, $event, i)">
                <label>
                  <input name="group1" class="with-gap" [checked]="isRadioCheck[i]"  type="radio"/>
                  <span>{{ c }}</span>
                </label>
              </p>
            </div>
        </div>
      </div>
      <div class="progress" *ngIf="prestige.projects_materialList.length == 0 && supplierPick !=null && switch == false">
          <div class="indeterminate"></div>
      </div>
      <div class="progress" *ngIf="prestige.stockList.length == 0  && switch == true">
          <div class="indeterminate"></div>
      </div>
      <div class="right-align" [class]="prestige.addingPOLoader ? '' : 'hide'">
        <div class="progress red lighten-3">
          <div class="indeterminate red"></div>
        </div>
        <span>Adding PO...</span>
      </div>
      <div class="row">
        <ng-container *ngFor="let m of switch ? prestige.stockList :prestige.projects_materialList">
            <div class="col s3 input-field" *ngIf="m.isShow">
              <p (click)="onClickCheckBox(m, $event)">
                <label>
                  <input type="checkbox" [(ngModel)]="!m.isCheck"/>
                  <span> 
                    <span>
                      <span class="yellow-text text-darken-2">{{ switch ? m.section : m.supplier }}</span><br>
                      <span>{{ m.section }}&nbsp;</span>
                      <span> {{ m.color }}</span>
                    </span><br>
                   
                    {{ m.materialName }}<br> 
                    {{ m.price | currency:'&#x20B1;'}}{{ m.type == 'Glass' ? '/SQFT' : '' }}
                    <span *ngIf="switch">&nbsp; ({{m.numberOfStock}})</span> <br>
                    <span *ngIf="switch && m.type == 'Glass'">base size: {{ m.baseSize }}</span>
                </span>
                </label>
              </p>
              <div class="row" *ngIf="switch">
                <span 
                (click)="onClickViewScrap(m.stockKey)" class="new badge teal" data-badge-caption="">View Scrap</span>
              </div>
              <div class="row" *ngIf="m.type == 'Glass'">
                <div class="col s6">
                  <input type="number" placeholder="Width (ft)" step="1" [(ngModel)]="m.width"
                  (change)="onChangeSize(m)" (keyup)="onChangeSize(m)">
                </div>
                <div class="col s6">
                  <input type="number" placeholder="Height (ft)" step="1" [(ngModel)]="m.height"
                  (change)="onChangeSize(m)" (keyup)="onChangeSize(m)">
                </div>
              </div>

              <input *ngIf="switch && m.type == 'Aluminum'"
              id="icon_prefix" type="number" placeholder="Length should not be greater than 252in" 
              (change)="onChangeQty(m)" (keyup)="onChangeQty(m)"[(ngModel)]="m.qty" >
              
              <input id="icon_prefix" type="number" placeholder="Quantity" step="1" 
              [(ngModel)]="m.numberOfSet"
              (change)="onChangeQty(m)" (keyup)="onChangeQty(m)">
             
              <div class="switch center-align" *ngIf="switch && m.type">
                <label (click)="onClickGlassCutStle(m, $event)">
                  Horizontal
                  <input type="checkbox" [(ngModel)]="m.glassCutStyle">
                  <span class="lever"></span>
                  Vertical
                </label>
              </div>
              
            </div>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-light btn red">close</a>&nbsp;
      <a class="waves-effect waves-light btn"  (click)="onClickSavePO()">Save PO</a>
    </div>
  </div>