<div>
  <h2>Stock Materials</h2>
  <div class="progress" *ngIf="prestige.progressStockstable">
    <div class="indeterminate"></div>
  </div>
  <p *ngIf="prestige.stockList.length == 0 && prestige.progressStockstable == false">No Materials</p>
  <div class="row">
    <div class="col s12">
      <table class="centered highlight">
        <thead>
         <tr>
          <th>Type</th>
          <th>Section</th>
          <th>Color</th>
          <th>Material Name</th>
          <th>Size</th>
          <th>Price</th>
          <th>Qty</th>
          <th></th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of prestige.stockList">
            <td>{{ m.type }}</td>
            <td>{{ m.section }}</td>
            <td>{{ m.color }}</td>
            <td>{{ m.materialName }}</td>
            <td>{{ m.baseSize }}</td>
            <td>{{ m.price | currency:'&#x20B1;' }}{{ m.type == 'Glass' ? '/SQFT' : '' }}</td>
            <td>{{ m.numberOfStock }}</td>
            <td>
                <a class="btn darken-2 left modal-trigger" href="#modalViewScrap"
                (click)="onClickViewScrap(m)"
                > <i class="material-icons">border_clear</i></a>
              <a class="btn yellow darken-2 left modal-trigger" href="#modalupdate"
              (click)="onClickEditMaterial(m)"
              > <i class="material-icons">edit</i></a>
              <a class="btn red left"
              (click)="onClickDeleteMaterial(m)"
              > <i class="material-icons">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-update 
[editData]="prestige.stocks_modalUpdateFields"
(updatedMaterial)="onClickUpdateModal($event)"
></app-modal-update>