.modal-trigger{
    margin-right: 10px;
}

#modalStockPO {
    width: 70%;
    height: 100%;
    max-height: 80%;
}

.btnViewOut{
    background: #ccab7d;
}

.searchMessageContainer {
    padding-top: 16px;
}