.close {
    padding-top: 25px;
}

.close .btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 23px;
    line-height: 1.3;
    padding: 0 2px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.marginBottom{
    margin-bottom: 60px;
}

p{
    margin-top: 0;
}