<div>
  <h2>List of Projects</h2>
  <div class="progress" *ngIf="prestige.projectList.length == 0">
      <div class="indeterminate"></div>
  </div>
  <ul class="collapsible popout">
    <li *ngFor="let p of prestige.projectList">
      <div class="collapsible-header" (click)="onClickAccordion(p)">
        <i class="material-icons">view_list</i>{{p.name}}
      </div>
      <div class="collapsible-body">
          <div class="row">
            <div class="col s11">
              <app-po-list [poList]="p.po"></app-po-list>
            </div>
            <div class="col s1">
              <a class="btn-floating btn-small waves-effect waves-light yellow darken-2 tooltipped modal-trigger"
              href="#modal1"
              data-position="left" data-tooltip="Add PO"
              (click)="setProjectKey(p.key)"
              >
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
          <div class="col s12">
            <h4>PO Total: {{p.total | currency:'&#x20B1;'}}</h4>
          </div>
          <div class="right-align">
              <a class="btn waves-effect waves-light"
               (click)="onClickPrint(p.po)">Print<i class="material-icons right">print</i></a>
          </div>
          
      </div>
    </li>
  </ul>
    <div class="row col s12">
    </div>
</div>

<app-modal-add-po [projectKey]="projectKey"></app-modal-add-po>

<app-print-po [printPO]="printPO"></app-print-po>

<app-modal-cutting-list [cuttingList]="prestige.cuttingList"></app-modal-cutting-list>