<div>
  <h2>List of Projects</h2>
  <div class="progress" *ngIf="prestige.projectList.length == 0">
      <div class="indeterminate"></div>
  </div>
  <ul class="collapsible popout">
    <li *ngFor="let p of prestige.projectList">
      <div class="collapsible-header" (click)="onClickAccordion(p)">
        <i class="material-icons">view_list</i>{{p.name}}
      </div>
      <div class="collapsible-body">
          <div class="row">
            <div class="col s11">
              <app-po-list [poList]="p.po" [laborList]="p.labor"></app-po-list>
            </div>
            <div class="col s1">
              <div class="row">
                <a class="btn-floating btn-small waves-effect waves-light teal tooltipped modal-trigger"
                href="#modal1"
                data-position="left" data-tooltip="Add PO"
                (click)="setProjectKey(p.key)"
                >
                  <i class="material-icons">add</i>
                </a>
              </div>
              <div class="row">
                <a class="btn-floating btn-small waves-effect waves-light yellow darken-2 tooltipped modal-trigger"
                href="#modalupdate"
                data-position="left" data-tooltip="Update Project Name"
                (click)="editProject(p)"><i class="material-icons">edit</i></a>
              </div>
              <ng-container *ngIf="p.po !=undefined">
                <div class="row" *ngIf="p.po.length == 0">
                    <a class="btn-floating btn-small waves-effect waves-light red tooltipped "
                    data-position="left" data-tooltip="Delete Project"
                    (click)="deleteProject(p)"><i class="material-icons">delete</i></a>
                </div>
            </ng-container>
            </div>
          </div>
          <div class="col s12">
            <h4>PO Total: {{p.total | currency:'&#x20B1;'}}</h4>
          </div>
          <div class="right-align">
              <a class="btn waves-effect waves-light"
               (click)="onClickPrint(p.po)">Print<i class="material-icons right">print</i></a>
          </div>
          
      </div>
    </li>
  </ul>
    <div class="row col s12">
    </div>
</div>

<app-modal-add-po [projectKey]="projectKey"></app-modal-add-po>

<app-print-po [printPO]="printPO"></app-print-po>

<app-modal-cutting-list [cuttingList]="prestige.cuttingList"></app-modal-cutting-list>

<app-modal-update 
[editData]="prestige.project_modalUpdateFields"
(updatedMaterial)="onClickUpdateModal($event)"
></app-modal-update>

<app-modal-labor></app-modal-labor>