<ul id="slide-out" class="sidenav sidenav-fixed deep-orange">
  <li><div class="user-view">
    <div class="background">
      <img [src]="background">
    </div>
    <a href="#user"><img class="circle" [src]="icon"></a>
    <a href="#name"><span class="white-text name">Prestige Glass</span></a>
    <a href="#email"><span class="white-text email">prestige@gmail.com</span></a>
  </div></li>
  <!-- <li><a routerLink="/canvas" class="white-text" (click)="onClickNav('Canvas')">Canvas<i class="material-icons left white-text">view_module</i></a></li> -->
  <li><a routerLink="/projects" class="white-text" (click)="onClickNav('Projects')">Projects<i class="material-icons left white-text">business</i></a></li>
  <!-- <li><a routerLink="/suppliers" class="white-text" (click)="onClickNav('Suppliers')">Suppliers<i class="material-icons left white-text">airport_shuttle</i></a></li>
  <li><a routerLink="/purchases" class="white-text" (click)="onClickNav('Purchases')">Purchases<i class="material-icons left white-text">assignment</i></a></li>
  <li><a routerLink="/stocks" class="white-text" (click)="onClickNav('Stock')">Stocks<i class="material-icons left white-text">subtitles</i></a></li>
  <li><a routerLink="/supplier-section-type" class="white-text" (click)="onClickNav('Stock')">Edit Supplier, Section, Type<i class="material-icons left white-text">view_column</i></a></li> -->
</ul>