
  <div class="card" *ngFor="let po of poList">
    <ng-container *ngIf="po.isShow">
      <div class="card-content">
        <span class="card-title teal-text"><b>PO #{{po.poKey}}</b> <span class="right">{{po.date}}</span></span>
        <span class="card-title teal-text">{{po.projectName}}</span>
        <table class="highlight centered">
          <thead>
            <tr>
                <th>Type</th>
                <th>Supplier</th>
                <th>Sesction</th>
                <th>Item</th>
                <th *ngIf="po['po'][0].type != 'Accessories'">Color</th>
                <th>Price</th>
                <th *ngIf="po['po'][0].type == 'Glass'">Width</th>
                <th *ngIf="po['po'][0].type == 'Glass'">Height</th>
                <ng-container *ngIf="po['po'][0].supplier == 'FROM STOCK'">
                  <th *ngIf="po['po'][0].type != 'Accessories'">QTY</th>
                </ng-container>
                <ng-container *ngIf="po['po'][0].supplier != 'FROM STOCK'">
                  <th>QTY</th>
                </ng-container>
                <th *ngIf="po['po'][0].supplier == 'FROM STOCK'">Number of Set</th>
                <th>Sub Total</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of po['po']">
              <td>{{ item.type }}</td>
              <td>{{ item.supplier }}</td>
              <td>{{ item.section }}</td>
              <td>{{ item.materialName }}</td>
              <td *ngIf="item.type != 'Accessories'">{{ item.color}}</td>
              <td>{{ item.price}}{{ item.type == 'Glass' ? '/SQFT' : ''  }}</td>
              <td *ngIf="po['po'][0].type == 'Glass'">{{ item.width }}ft</td>
              <td *ngIf="po['po'][0].type == 'Glass'">{{ item.height }}ft</td>
              <ng-container *ngIf="po['po'][0].supplier == 'FROM STOCK'">
                <td *ngIf="item.type != 'Accessories'">{{ item.supplier == 'FROM STOCK' && item.type != 'Glass' ? item.qty : item.numberOfSet }}</td>
              </ng-container>
              <ng-container *ngIf="po['po'][0].supplier != 'FROM STOCK'">
                <td>{{ item.supplier == 'FROM STOCK' && item.type != 'Glass' ? item.qty : item.numberOfSet }}</td>
              </ng-container>
              <!-- <td>{{ item.supplier == 'FROM STOCK' && item.type != 'Glass' ? item.qty : item.numberOfSet }}</td> -->
              <td *ngIf="item.supplier == 'FROM STOCK'">{{ item.numberOfSet }}</td>
              <td>{{ item.subtotal | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngIf="po['po'][0].type != 'Accessories'"></td>
              <td *ngIf="po['po'][0].type == 'Glass'"></td>
              <td *ngIf="po['po'][0].type == 'Glass'"></td>
              <ng-container *ngIf="po['po'][0].supplier == 'FROM STOCK'">
                <td *ngIf="po['po'][0].type  != 'Accessories'"></td>
              </ng-container>
              <ng-container *ngIf="po['po'][0].supplier != 'FROM STOCK'">
                <td></td>
              </ng-container>
              <td *ngIf="po['po'][0].supplier == 'FROM STOCK'"></td>
              <td class="teal-text"><b>Total:</b></td>
              <td class="teal-text"><b> {{ po.subTotal | number : '1.2-2' }} </b></td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="right-align">
        <a *ngIf="po['po'][0].supplier != 'FROM STOCK'"
        class="btn waves-effect" [ngClass]="po.paid? poClass.paid : poClass.unpaid"
        (click)="onClickPayPO(po.poKey)">
        <i class="material-icons right" *ngIf="po.paid">check</i>
          <!-- {{po.paid ? 'Paid' : 'Unpaid' }} -->
          {{ po.paid.paidBy == 'check' ? 
             (po.paid.date+' | Paid by check#'+po.paid.check) :
             po.paid.paidBy == 'cash' ?
             (po.paid.date+' | Paid by Cash | discount '+po.paid.discount+'%') : 
             'Unpaid' }}
        </a>
        <a *ngIf="po['po'][0].supplier == 'FROM STOCK'" 
        class="btn waves-effect disabled">
          from stock
        </a>
        <!-- <a *ngIf="po['po'][0].supplier == 'FROM STOCK'" 
            class="btn waves-effect modal-trigger"
            href="#cuttingList"
        (click)="onClickViewCuttingList(po['po'])">
          view cutting list
        </a> -->
      </div>
  </ng-container>
  </div>